---
import { Image } from 'astro:assets'
import { Content } from '../../readme.md'
import { Avatar } from '../constants/avatar'
import { IndexId } from '../constants/elements'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="Kid · Web Developer"
  description="@kidonng's homepage"
>
    <main class="max-w-xl mx-auto text-center px-4 pt-16">
        <Image
          class="size-24 rounded-full mx-auto mb-4"
          {...Avatar}
          inferSize
          loading="eager"
        />

        <div id="index-content">
            <Content />
        </div>
        <script src="../scripts/channel-link.ts" />

        <template id={IndexId.Icp}>
            <div class="text-xs text-gray-400 font-thin mt-16">
                <a href="https://beian.miit.gov.cn" />
            </div>
        </template>
        <script src="../scripts/icp.ts" />
    </main>
</BaseLayout>
