<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="color-scheme" content="light dark">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hi, I'm Kid</title>
	</head>
	<body class="prose text-lg p-8">
		<img class="w-96px" src="https://wsrv.nl/?output=webp&url=https://gravatar.com/avatar/193222282fa770ae593ae08edbeb8942dc56d98cb7bce6360c49e4fefa7c2431?size=192" alt="Nahida from Genshin Impact">
		<h1>Hi, I'm Kid</h1>
		<ul>
			<li>Code on <a href="https://github.com/kidonng">GitHub</a></li>
			<li>Write on <a href="https://kidonng.notion.site/">Notion</a></li>
			<li>Thoughts on <a href="https://t.me/s/kichann">Telegram channel</a></li>
		</ul>
		<h2>Contact</h2>
		<ul>
			<li><a href="https://t.me/kidonng">Telegram</a></li>
			<li><a href="mailto:hi@xuann.wang">Email</a></li>
		</ul>
	</body>
</html>
