@import 'tailwindcss';

/* https://tailwindcss.com/docs/upgrade-guide#hover-styles-on-mobile */
@custom-variant hover (&:hover);

@theme {
  --font-sans: 'Playpen Sans Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* https://catppuccin.com/palette/ */
  --color-ctp-latte-base: #eff1f5;
  --color-ctp-latte-mantle: #e6e9ef;
  --color-ctp-latte-crust: #dce0e8;
  --color-ctp-latte-text: #4c4f69;
  --color-ctp-frappe-base: #303446;
  --color-ctp-frappe-mantle: #292c3c;
  --color-ctp-frappe-crust: #232634;
  --color-ctp-frappe-text: #c6d0f5;

  --color-base: var(--color-ctp-latte-base);
  --color-mantle: var(--color-ctp-latte-mantle);
  --color-crust: var(--color-ctp-latte-crust);
  --color-text: var(--color-ctp-latte-text);
}

@layer theme {
  :root {
    @variant dark {
      --color-base: var(--color-ctp-frappe-base);
      --color-mantle: var(--color-ctp-frappe-mantle);
      --color-crust: var(--color-ctp-frappe-crust);
      --color-text: var(--color-ctp-frappe-text);
    }
  }
}

@keyframes slide-in-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(-25%);
  }
}

#index-content {
  @apply text-lg font-medium;

  h1,
  p {
    @apply animate-[slide-in-up_both_var(--motion)];
  }

  h1 {
    @apply text-2xl font-bold;
  }

  ul {
    @apply flex flex-col gap-4 mt-8;
  }

  li {
    @apply animate-[slide-in-right_both_var(--motion)];
    animation-delay: calc(0.2s + 0.1s * var(--n));

    &:nth-child(1) { --n: 1; }
    &:nth-child(2) { --n: 2; }
    &:nth-child(3) { --n: 3; }
    &:nth-child(4) { --n: 4; }
    &:nth-child(5) { --n: 5; }
    &:nth-child(6) { --n: 6; }
  }

  a {
    @apply block px-12 py-4 bg-mantle rounded-4xl transition-colors;

    @variant hover {
      @apply bg-crust;
    }
  }
}
