@import 'tailwindcss';

/* https://tailwindcss.com/docs/upgrade-guide#hover-styles-on-mobile */
@custom-variant hover (&:hover);

@theme {
  --font-playpen-sans: 'Playpen Sans Variable', var(--font-sans);

  /* https://catppuccin.com/palette/ */
  --color-ctp-latte-base: #eff1f5;
  --color-ctp-latte-mantle: #e6e9ef;
  --color-ctp-latte-crust: #dce0e8;
  --color-ctp-latte-text: #4c4f69;
  --color-ctp-frappe-base: #303446;
  --color-ctp-frappe-mantle: #292c3c;
  --color-ctp-frappe-crust: #232634;
  --color-ctp-frappe-text: #c6d0f5;

  --color-base: light-dark(var(--color-ctp-latte-base), var(--color-ctp-frappe-base));
  --color-mantle: light-dark(var(--color-ctp-latte-mantle), var(--color-ctp-frappe-mantle));
  --color-crust: light-dark(var(--color-ctp-latte-crust), var(--color-ctp-frappe-crust));
  --color-text: light-dark(var(--color-ctp-latte-text), var(--color-ctp-frappe-text));

  --animate-slide-in-up: slide-in-up both var(--spring-500);
  --animate-slide-in-right: slide-in-right both var(--spring-500);

  /* Animation inspired by https://cheff.dev */
  @keyframes slide-in-up {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
  }

  @keyframes slide-in-right {
    from {
      opacity: 0;
      transform: translateX(-25%);
    }
  }
}

/* Layout inspired by https://linktr.ee/turnertemplate */
#index-content {
  @apply text-lg font-medium;

  h1,
  p {
    @apply animate-slide-in-up;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  ul {
    @apply flex flex-col gap-4 mt-8;
  }

  li {
    @apply animate-slide-in-right;
    animation-delay: calc(0.2s + 0.1s * var(--n));

    &:nth-child(1) {
      --n: 1;
    }
    &:nth-child(2) {
      --n: 2;
    }
    &:nth-child(3) {
      --n: 3;
    }
    &:nth-child(4) {
      --n: 4;
    }
    &:nth-child(5) {
      --n: 5;
    }
    &:nth-child(6) {
      --n: 6;
    }
  }

  a {
    @apply block px-12 py-4 bg-mantle rounded-4xl transition-colors;

    @variant hover {
      @apply bg-crust;
    }
  }
}
