name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - run: npm install --global corepack
      - run: corepack enable
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: latest

      - run: pnpm install
      - run: pnpm build

      - uses: astral-sh/setup-uv@v7.2.0
      # coscmd does not support Python 3.12+
      # https://github.com/tencentyun/coscmd/issues/311
      - run: |
          uvx --python 3.11 coscmd config \
            -a ${{ secrets.TENCENT_CLOUD_SECRET_ID }} \
            -s ${{ secrets.TENCENT_CLOUD_SECRET_KEY }} \
            -b ${{ secrets.TENCENT_CLOUD_COS_BUCKET }} \
            -r ${{ secrets.TENCENT_CLOUD_COS_REGION }}
      - run: uvx --python 3.11 coscmd upload -r dist/ /
